node_modules/
dist/
coverage/
apps/**/*.js
apps/**/*.d.ts
apps/**/*.js.map
libs/**/*.js
libs/**/*.d.ts
libs/**/*.js.map
*.log
npm-debug.log*
yarn-debug.log*
.env
.env.*
!.env.example
.DS_Store
Thumbs.db
.vscode/
.idea/
newman/
reports/
